[submodule "esp-idf-prom/prometheus-client-c"]
	path = esp-idf-prom/prometheus-client-c
	url = https://github.com/digitalocean/prometheus-client-c
[submodule "esp-prom/prometheus-client-c"]
	path = esp-prom/prometheus-client-c
	url = https://www.github.com/digitalocean/prometheus-client-c
